* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    "Apple color Emoji", segoe UI Emoji" segoe UI Symbol"
}
.container{
    width: 100%;
    display: flex;
}

#card-mostpopular,
#card-plus{
    width: 25%;
    height: 900px;
    letter-spacing: 0.01em;
    line-height: 1.25;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#card-mostpopular header{
    background-color: #2d7ff9;
    color: #fff;
    padding: 1rem;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    font-size: 1rem;
    height: 48px;
}

#card-mostpopular main{
    background-color: #D8F8FD;
    color: #333;
    padding: 2rem 1rem 4rem 1rem;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    height: 100%;
}

#card-plus main {
    background-color: #ffeab6;
    color: #333;
    padding: 2rem 1rem 4rem 1rem;
    border-radius: 14px;
    height: 100%;
    margin-top: 48px;
}

h3{
    padding-bottom: 0.5rem;
}

.description{
    font-size: 0.9rem;
    width: 100%;
    padding-bottom: 3rem;
}

.subscription-section{
    margin-bottom: 1.5rem;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    
    gap: 2rem;
}

.price p {
    font-size: 1rem;
}

.price h1{
    font-size: 4rem;
    font-weight: 500;
}

.monthly{
    margin-bottom: 1.5rem;
}

.button {
    outline: none;
    border: none;
    text-align: center;
    border-radius: 9999px;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
}

.btn-mostpopular {
    background-color: #2d7ff9;
    border: none;
    color: #fff;
}

.btn-plus {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.check> p {
    padding-bottom: 1rem;
}

ul{
    list-style: none;
    padding-left: 0;
    font-weight: 300;
    line-height: 1.65;
}

li{
    position: relative;
    padding-left: 1.5em;
    line-height: 1.65;
}

li:before {
    content: "✔";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1.65;
}

.check ul>li>span {
    border-bottom: 2px dotted rgb(51, 51, 51 );
    cursor: text;
}